body {
    background-color:var(--BackgroundColor);
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
}


.sectionTitle{
    margin-top: 23px;
    max-width: 100%;
    background-color: #FFF;
    height: 32px;
    box-shadow: var(--shadow);
    border: 2px outset #eee;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    font-size: 14px;
}


.nav-wrapper-crear-guifos {
    display: inline-flex;
    align-items: center;

    padding: 30px;   

    .logo{
        margin-left: 12px;
    }
    
}