:root {
    --BackgroundColor: #fae8f7cb;
    --gradient: linear-gradient(90deg, #4180f6, #f7c9f3);
    --btn: #f7c9f3;
    --shadow: 0 2px 0 rgba(#000000, 0.5);
    --Container: #E6E6E6;
    --misGifosBtn:#000;
    --verMasBtn:#4180f6;
    // --btnSelected: rgb(99, 96, 99);
  }

  .dark {
    --BackgroundColor: #110038;
    --btn: #ee3efe;
    --BtnThemeDarkBlue: #2e32fb;
    --gradient: linear-gradient(90deg, #2e32fb, #ee3efe);
    --btn:#EE3EFE;
    --misGifosBtn:#FFF;
    --verMasBtn:#2E32FB;
  }

  .container {
    background-color: var(--gradient);
  }
  
