.title_wrapper {
    width: 100%;
    padding: 4px 10px;
    box-shadow: var(--shadow);
    background-image: var(--gradient);
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 12px;
}




.modal-wrapper{
    // display: none;
    background-color: var(--Container);
    width: 684px;
    height: 386px;
    margin-bottom: 50px;
    margin-left: 300px;

    .header-modal{
        display: flex;
        align-items: center;

        img{
            margin-right: 15px;
            width: 32px;
            height: 32px;
        }
    }

    .modal-body{
        padding-top: 20px;
        padding-left: 25px;
        font-size: 15px;
        line-height: 20px;
    }

    span{
        font-weight: bold;
    }

    .btn-modal{
        float: right;
        margin-right: 30px;
        margin-top: 30px;

        .btn-create-gif{
            height: 36px;
            width: 144px;
            color: black;
    }

        .start{
            background-color: #F7C9F3;
        }

        .cancel{
            background-color: #FFF4FD;
        }
        
        .btn-create-gif + .btn-create-gif{
            margin: 5px;
        }
    }

}

.modal-heading{
    background-image: var(--gradient);
    color: white;
    height: 24px;
    width: 100%;

    .modal-title{
        padding-left: 8px;
        font-size: 16px;
    }
}

.mis-gifos{

    label{
        padding: 0 30px;
    }

    input{
        display: inline-flex;
        width: 100%;
        height: 32px;
        padding: 10px;
        background-color: white;
        color: black;
    }

}
 