.modal-wrapper-grabar {
    width: 860px;
    height: 590px;
    background-color: var(--Container);
    margin: 50px auto;

    .modal-body-crear {
        padding: 25px;
        width: 860px;

        video {
            padding: 15px;
            width: 832px;
            height: 434px;
        }
    }

    .gif-preview {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .grabar-btn {
        border: 1px solid #000;
        float: right;
        margin-right: 30px;

        display: inline-flex;
        align-items: center;

        .btn-comenzar-gif {
            background-color: #f7c9f3;
            height: 36px;
            width: 144px;
            color: black;
        }

        .svg-wrapper {
            background-color: #f7c9f3;
            width: 36px;
            height: 36px;
            border: 1px solid #000;

            .camera-btn {
                margin: 8px;
            }
        }

        .btn-parar-gif {
            height: 36px;
            width: 144px;
            display: none;
            background-color: red;
            color: #fff;
        }
    }
}
