.title_wrapper {
    width: 100%;
    padding: 4px 10px;
    box-shadow: var(--shadow);
    background-image: var(--gradient);
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 12px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    padding: 30px;

    .navButton {
        background-color: var(--btn);
        border: 2px, #110038;
        height: 36px;
        width: 131px;
        cursor: pointer;
    }

    .misGifosButton {
        color: var(--misGifosBtn);
        text-decoration: none;
        margin-left: 8px;

        .letra-subrayada {
            text-decoration: underline;
        }
    }
}


.inputSearch {
    position: relative;
    background-color: #e6e6e6;
    height: 79px;

    .search {
        margin: 0;
        background-image: var(--gradient);
        box-shadow: var(--shadow);
        font-size: 14px;
        color: #fff;
        padding: 3px 5px;
        width: 100%;

        position: absolute;
    }

    p {
        color: #fff;
        font-size: 14px;
        text-align: start;
        align-content: center;
        margin-left: 10px;
    }

    .searchBar {
        text-align: center;
        height: 48px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-content: center;
        margin-top: 7px;
    }

    .InputSearchBar {
        flex-grow: 1;
        color: #000;
        box-shadow: var(--shadow);
        padding: 5px;
    }

    .search-btn {
        display: flex;
        align-items: center;

        background-color: #e6e6e6;

        .search-icon {
            fill: var(--Container);
        }

        .search-label {
            color: var(--Container);
        }

        &:active {
            background-color: var(--btnThemeDay);

            .search-icon {
                fill: #110038;
            }

            .search-label {
                color: #110038;
            }
        }
    }
}

.suggestions {
    background-color: #fffafe;
    height: 32px;
    padding: 10px;
    margin-top: 40px;
    border: 2px outset #eee;

    display: flex;
    justify-content: start;
    align-items: center;

    h3 {
        font-size: 14px;
        margin: 0;
        font-weight: 400;
    }
}

.suggestions-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    .gif-container {
        position: relative;
        height: 250px;
        overflow: hidden;
        opacity: 0;
        animation: reveal-elements ease forwards 1s;

        p {
            position: relative;
            margin: 0;
            background-image: var(--gradient);
            color: white;
            width: 280px;
            height: 24px;
            width: 100%;
            border: 2px solid #e6e6e6;
            font-size: 13px;
            padding: 2px 0 0 4px;

            .gif-close-button {
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border: none;
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            height: 100%;
            border: 2px solid #e6e6e6;
            object-fit: cover;
        }

        .gif-view-more {
            position: absolute;
            bottom: 10px;
            left: 15px;
            padding: 5px 10px;
            background-color: var(--verMasBtn);
            border: 1px #4c2f99 outset;
            color: #fff;
            min-width: 80px;
            height: 35px;
            cursor: pointer;
        }
    }
}

.suggestedGif {
    padding: 2px;
    background-color: #e6e6e6;
    border: 2px outset #eee;
    position: relative;

    .suggestedGifHeader {
        padding: 4px 10px;
        box-shadow: var(--shadow);
        background-image: var(--gradient);
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        > p {
            margin: 0;
        }

        .crossButton {
            padding: 0;
            border: 0;
            > svg {
                display: block;
            }
        }
    }

    .gif {
        object-fit: cover;
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 10px;
    margin-top: 20px;
    padding-bottom: 50px;

    .gif-container {
        position: relative;
        max-height: 200px;
        opacity: 0;
        animation: reveal-elements ease forwards 1s;
        overflow: hidden;

        &:nth-child(5n) {
            grid-column: span 2;
        }

        .gif-close-button{
            display: none;
        }

        p {
            position: absolute;
            bottom: 0px;
            background-image: var(--gradient);
            border: 1px solid #E6E6E6;
            width: 100%;
            margin: 0;
            font-size: 13px;
            color: white;
            padding-left: 4px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

                &:hover{
                    border-style: dotted;
                    border-width: 2px;
                    border-color: grey;
                }
        }
    }
}

@keyframes reveal-elements {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
